html{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 10px;    
    background-image: url("/static/media/dot-grid.webp");
    overflow-x: hidden;    
}
.hidden{
    display:none !important;
}
.hidden2{
    display:none !important;
}
#chart{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
button{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;    
}
button svg{
    position:absolute;
    left:5px;
    top:0px;
}
.button1{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: transparent; border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block; cursor: pointer;
    color: rgb(56, 56, 56);
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 24px;    
    text-decoration: none;
    padding-left:30px !important;
}
.button2{    
    background-color: transparent;
    border-radius: 6px;
    border:none;
    display: inline-block;
    cursor: pointer;
    color: rgb(56, 56, 56);
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 24px;    
    text-decoration: none;
    padding-left:30px !important;
}
.button3{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: transparent; border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block; cursor: pointer;
    color: rgb(56, 56, 56);
    font-family: Arial;
    width:100px;
    height:30px;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    padding-left:30px !important;
    border-radius: 100px;
}
.button3 svg{
 top:2px;
 left:10px;
}
.button4{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: transparent; border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block; cursor: pointer;    
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    width:25px;
    height:25px;
    text-decoration: none;
    margin-left:1px;
    margin-right:1px;
}
.button4 svg{
    color: #495057;
    margin-top:0px;
    margin-left:-5px;
}
.button5{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: transparent; border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block; cursor: pointer;
    color: rgb(56, 56, 56);
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 24px;    
    text-decoration: none;
    padding-left:30px !important;
    
}

span{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 600;
    font-style: normal;
}
input[type=text]{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: transparent; border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block; cursor: pointer;
    color: rgb(56, 56, 56);
    padding:5px;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    background:white;
    width:145px;
    cursor:text;
}
input[type=number]{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: transparent; border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block; cursor: pointer;
    color: rgb(56, 56, 56);
    padding:5px;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    background:white;
    width:145px;
    cursor:text;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


select {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: transparent; border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block; cursor: pointer;
    color: rgb(56, 56, 56);
    padding:5px;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    background:white;
    width:145px;
}
.button_info{
    width:145px !important;
    color:#868e96;
    background:white;
    border: 1px solid #868e96;  
}
.button_info:hover{
    color:white !important;
    background-color: #868e96 !important;
    border: 1px solid #868e96 !important; 
    box-shadow: #868e96 0px 6px 15px 0px, #868e96 0px 0px 0px 1px;
}
.button_connected{
    color:#20c997;
    background:white;
    border: 1px solid #20c997; 
}
.button_connected:hover{
    color:white !important;
    background-color: #20c997 !important;
    border: 1px solid #20c997 !important; 
    box-shadow: #20c997 0px 6px 15px 0px, #20c997 0px 0px 0px 1px;
}
.button_streaming{
    width:145px !important;
    color:#4dabf7;
    background:white;
    border: 1px solid #4dabf7;  
}
.button_pause{
    width:145px !important;
    color:#f59f00;
    background:white;
    border: 1px solid #f59f00;    
}
.button_streaming:hover{
    color:white !important;
    background-color: #4dabf7 !important;
    border: 1px solid #4dabf7 !important; 
    box-shadow: #4dabf7 0px 6px 15px 0px, #4dabf7 0px 0px 0px 1px;
}
.button_pause:hover{
    color:white !important;
    background-color: #f59f00 !important;
    border: 1px solid #f59f00 !important; 
    box-shadow: #f59f00 0px 6px 15px 0px, #f59f00 0px 0px 0px 1px;
}
.button_enable{
    width:145px !important;
    color:#2f9e44;
    background:white;
    border: 1px solid #2f9e44;    
}
.button_disable{
    width:145px !important;
    color:#f03e3e;
    background:white;
    border: 1px solid #f03e3e;  
}
.button_enable:hover{
    color:white !important;
    background-color: #2f9e44 !important;
    border: 1px solid #2f9e44 !important; 
    box-shadow: #2f9e44 0px 6px 15px 0px, #2f9e44 0px 0px 0px 1px;
}
.button_disable:hover{
    color:white !important;
    background-color: #f03e3e !important;
    border: 1px solid #f03e3e !important; 
    box-shadow: #f03e3e 0px 6px 15px 0px, #f03e3e 0px 0px 0px 1px;
}

button svg{
    width:20px;
}
button:hover{
    background: rgb(168, 168, 168);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    color:rgb(255, 255, 255);
}

body{
    margin: auto;
    padding-left:20px;
    padding-right: 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    position: relative;
}
.simplefoc_logo{
    height:40px;
    border-radius: 10px;    
}
.topbar{            
    display:flex;
    justify-content:space-between;
    align-items: center;
}
button{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.simple{
    margin-top:5px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f8f9fa;
    cursor: pointer;
    z-index: 10;    
    border-radius: 15px;    
    padding:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.foc{
    color:#44a8fa;
}
.no_round_corner_bottom{
    border-radius: 15px 15px 0px 0px !important;
}
.row{
    margin-top:10px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}
.column{
    display:flex;
    flex-direction: column;
}

